<div class="row">
  <div class="col-3">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="cart$ | async as cart">
      <div *ngFor="let p of filteredProducts" class="col">
        <app-product-card
          [product]="p"
          [shopping-cart]="cart"
          (selectedItem)="setSelectedItem($event)"
        ></app-product-card>
      </div>
    </div>
  </div>
</div>

<!--form modal-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-white bg-dark">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="exampleModalLabel">
            {{ selectedItem.title }}
          </h5>
          <p>{{ selectedItem.category }}</p>
        </div>

        <button
          type="button"
          class="btn btn-small btn-secondary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          X
        </button>
      </div>
      <div class="modal-body">
        <img
          [src]="selectedItem.imageUrl"
          class="card-img-top"
          alt="{{ selectedItem.title }}"
        />
      </div>
      <div class="modal-footer">
        <p>
          {{ selectedItem.price | currency: "USD":"symbol" }}
        </p>
      </div>
    </div>
  </div>
</div>
