<h1 class="my-3">Manage All Orders</h1>
<table class="table table-hover table-dark table-striped align-middle">
  <thead>
    <tr>
      <th>User</th>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ user.name }}</td>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date }}</td>
      <td>
        <a href="#" class="text-info">View</a>
      </td>
    </tr>
  </tbody>
</table>
