<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have
    <span class="badge bg-danger">{{ cart.totalItemsCount }}</span>

    product in shopping cart.
    <button
      *ngIf="cart.items.length"
      (click)="clearCart()"
      class="btn btn-warning btn-sm"
    >
      Clear Shopping Cart
    </button>
  </p>

  <table class="table table-hover table-dark table-striped align-middle">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-end">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <img
            width="100"
            height="100"
            [src]="item.product.imageUrl"
            class="rounded img-fluid img-thumbnail"
            [alt]="item.product.title"
          />
        </td>
        <td>{{ item.product.title }}</td>
        <td>
          <app-product-quantity
            [product]="item.product"
            [shopping-cart]="cart"
          ></app-product-quantity>
        </td>
        <td class="text-end">
          {{ item.totalPrice | currency: "USD":"symbol" }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-end">
          {{ cart.totalPrice | currency: "USD":"symbol" }}
        </th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-success"
    >Check Out</a
  >
</ng-container>
