.list-group-item-dark {
  color: #d3e4e8;
  background-color: #4e5455;
}
.list-group-item-dark.list-group-item-action.active {
  color: #d3e4e8;
  background-color: #ae5f38;
  border-color: #ae5f38;
}

.sticky-top {
  top: 80px;
}
