<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<!--
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="Search..."
  />
</p>
-->
<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="table table-hover table-dark table-striped"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Category</th>
      <th>Price $</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products; let i = index">
      <td>{{i}}</td>
      <td>{{ p.title }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.price }}</td>
      <td>
        <img
          width="100"
          height="100"
          [src]="p.imageUrl"
          class="rounded img-fluid img-thumbnail"
          alt="..."
        />
      </td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]" class="btn btn-warning"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>

<!--
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price $</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p.title }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.price }}</td>
      <td>
        <img
          width="100"
          height="100"
          [src]="p.imageUrl"
          class="rounded img-fluid img-thumbnail"
          alt="..."
        />
      </td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]" class="btn btn-warning"
          >Edit</a
        >
      </td>
    </tr>
  </tbody>
</table>
-->
