/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding-top: 80px;
  background-color: #333;
  color:antiquewhite;
}

.active {
  color: lightgreen !important;
}
